<h2 mat-dialog-title>{{ data.isEditMode ? 'Edit Appointment' : 'Add Appointment' }}</h2>

<mat-dialog-content [formGroup]="appointmentForm">

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="appointmentForm.controls['title'].hasError('required')">
      Title is required.
    </mat-error>
  </mat-form-field>

  <div class="date-time-row">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" (click)="startDatePicker.open()" [matDatepicker]="startDatePicker">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error *ngIf="appointmentForm.controls['startDate'].hasError('required')">
        Start Date is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Start Time</mat-label>
      <input matInput formControlName="startTime" type="time">
      <mat-error *ngIf="appointmentForm.controls['startTime'].hasError('required')">
        Start Time is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="date-time-row">
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput formControlName="endDate" (click)="endDatePicker.open()" [matDatepicker]="endDatePicker">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error *ngIf="appointmentForm.controls['endDate'].hasError('required')">
        End Date is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Time</mat-label>
      <input matInput formControlName="endTime" type="time">
      <mat-error *ngIf="appointmentForm.controls['endTime'].hasError('required')">
        End Time is required.
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="appointmentForm.invalid">Save</button>
</mat-dialog-actions>
