<div id="calendar">
  <div class="calendar-header">
    <button mat-icon-button (click)="changeMonth(-1)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h2>{{ currentMonth | date: 'MMMM y' }}</h2>
    <button mat-icon-button (click)="changeMonth(1)">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="openDialog()">+ Create Appointment</button>
  </div>

  <div class="calendar-grid">
    <div *ngFor="let day of generateCalendarDays()"
         class="calendar-day"
         [ngClass]="{ 'current-day': isToday(day) }">
      <div class="day-number">{{ day.getDate() }}</div>
      <button mat-icon-button (click)="openDialog(day)">
        <mat-icon>add_circle</mat-icon>
      </button>
      <div *ngFor="let appointment of getAppointmentsForDay(day)" class="appointment-card" [ngStyle]="{ 'background-color': appointment.color }">
        <span class="appointment-title">{{ appointment.title }}</span>
        <div class="content">
          <div class="appointment-times">
            {{ appointment.startDate | date: 'short' }} - {{ appointment.endDate | date: 'short' }}
          </div>
          <button mat-icon-button class="edit-button" (click)="openDialog(day, appointment)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
