<div class="calendar-container">
  <div class="header">
    <button mat-icon-button (click)="changeMonth(-1)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h2 class="mb-0">{{ currentMonth | date: 'MMMM yyyy' }}</h2>
    <button mat-icon-button (click)="changeMonth(1)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="calendar-grid">
    <div
      *ngFor="let day of daysInMonth; let i = index"
      class="day"
      cdkDropList
      [id]="'dropList_' + i"
      [ngClass]="{ 'today': isToday(day.date) }"
      [cdkDropListData]="day.appointments"
      [cdkDropListConnectedTo]="allDropLists"
      (cdkDropListDropped)="onDrop($event)"
    >
      <div class="day-number">{{ day.date | date: 'd' }}</div>

      <div
        *ngFor="let appointment of day.appointments"
        class="appointment"
        cdkDrag
        [cdkDragData]="appointment">

      <app-appointment [appointment]="appointment"
                       [day]="day"
                       (emitEditDialog)="openEditDialog($event)"
                       (emitDeleteDialog)="deleteAppointment($event)"
      ></app-appointment>

      </div>
      <button class="add-button" mat-button color="primary" (click)="openAddDialog(day)">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
